---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <main class="flex grow">
        <div class="px-4 flex flex-col gap-y-4">
            <br>
            <h1 class="mb-4 text-3xl font-bold">About</h1>
            <h2 class="text-2xl ml-1 font-bold">迷路の生成について</h2>
            <p class="text-sm mb-4 ml-4 pr-8 dark:prose-invert">
                迷路の生成には、プリム法を用いています。<br><br>

                まず全体の列数と行数を奇数に設定して、ランダムな偶数行偶数列目のセルを選びます。<br>
                ここから壁を掘り進んでいくイメージで迷路を生成します。<br>
                最終的には、偶数行偶数列目のセルは全て通路になり、逆に奇数行奇数列目のセルは全て壁になると覚えておいてください。<br><br>

                まずはじめに選んだセルから、上下左右ランダムな方向に2マス掘り進めます。<br>
                すでに掘られている偶数行偶数列目のマスをランダムに選びます。(1)<br>
                上下左右の内、2マス先がまだ掘られていない方向をランダムに選び、2マス掘り進めます。(2)<br>
                (1)と(2)を繰り返し、掘り進められなくなったら終了です。<br>
                <span class="text-neutral-400">図解を用意予定です...</span>
            </p>
            <h2 class="text-2xl ml-1 font-bold">最短経路の探索について</h2>
            <p class="text-sm mb-4 ml-4 pr-8 dark:prose-invert">
                最短経路の探索は、ダイクストラ法およびA*アルゴリズムを用いています。<br>
                <span class="text-neutral-400">解説は準備中です...</span>
            </p>
            <h2 class="text-2xl ml-1 font-bold">サイトについて</h2>
            <p class="text-sm mb-4 ml-4 pr-8 dark:prose-invert">
                Astro + Tailwind CSSで作成しました。<br>
                ホームページのデモ部分とPlayページの迷路部分はAstroのアイランドアーキテクチャを用いて、p5.jsで書かれたコードをReact経由でCSR(Client-Side Rendering)として組み込んでいます。<br>
                迷路生成や最短経路探索は全てブラウザ上で行われるため、まあまあCPUを食います。ご了承ください。<br>
            </p>
            <h2 class="text-2xl ml-1 font-bold">Processing</h2>
            <p class="text-sm mb-4 ml-4 pr-8 dark:prose-invert">
                障害物手書きモード、早送り、斜め移動などを備えたより自由度の高いProcessing(Java)版です。
                下記からダウンロードください。
            </p>
            <div class="flex flex-wrap self-center gap-4">
                <a href="https://github.com/canta-9142/Dijkstra" target="_blank" class="flex items-center justify-center bg-neutral-100 p-4 rounded shadow-xl ease-in-out transition-all hover:p-6 hover:bg-neutral-200">
                    <span class="font-semibold text-black text-sm">ソースコード</span>
                </a>
                <a href="https://processing.org/download" target="_blank" class="flex items-center justify-center bg-neutral-100 p-4 rounded shadow-xl ease-in-out transition-all hover:p-6 hover:bg-neutral-200">
                    <span class="font-semibold text-black text-sm">Processing</span>
                </a>
            </div>
            <h2 class="text-2xl ml-1 font-bold">リンク</h2>
            <p class="text-sm mb-4 ml-4 pr-8 dark:prose-invert">
                本サイトのGitHubリポジトリおよびAstroとTailwind CSS、p5.jsの公式サイトへのリンクです。別ページに遷移します。
            </p>
            <div class="flex flex-wrap self-center gap-4">
                <a href="https://github.com/canta-9142/Dijkstra_web" target="_blank" class="flex items-center justify-center bg-neutral-100 p-4 rounded shadow-xl ease-in-out transition-all hover:p-6 hover:bg-neutral-200">
                    <img src="/github_icon.png" alt="GitHub" width="48" height="48"/>
                    <span class="font-semibold text-black text-xs ml-2">GitHub</span>
                </a>
                <a href="https://astro.build" target="_blank" class="flex items-center justify-center bg-neutral-100 p-4 rounded shadow-xl ease-in-out transition-all hover:p-6 hover:bg-neutral-200">
                    <img src="/astro_icon.png" alt="Astro" width="48" height="48"/>
                    <span class="font-semibold text-black text-xs ml-2">Astro</span>
                </a>
                <a href="https://tailwindcss.com" target="_blank" class="flex items-center justify-center bg-neutral-100 p-4 rounded shadow-xl ease-in-out transition-all hover:p-6 hover:bg-neutral-200">
                    <img src="/tailwind_icon.png" alt="Tailwind CSS" width="48" height="48"/>
                    <span class="font-semibold text-black text-xs ml-2">Tailwind CSS</span>
                </a>
                <a href="https://p5js.org" target="_blank" class="flex items-center justify-center bg-neutral-100 p-4 rounded shadow-xl ease-in-out transition-all hover:p-6 hover:bg-neutral-200">
                    <img src="/p5js_icon.png" alt="p5.js" width="48" height="48"/>
                    <span class="font-semibold text-black text-xs ml-2">p5.js</span>
                </a>
            </div>
        </div>
    </main>
</Layout>
