---
import P5Sketch from "../p5-app/dijkstra.tsx"
---

<div style="margin-top:10px">
    <label>
        <input type="checkbox" id="astar-checkbox" /> A*を使用
    </label>
    <button id="btn-generate">迷路生成</button>
    <button id="btn-reset">リセット</button>
</div>
<div id="p5-container" />

<P5Sketch client:only="react" containerId="p5-container" />

<script>
    window.P5_CONFIG = {
        // widthとheightを10×マス目+1、マス目は奇数とするときれいに描画される
        width: 411,
        height: 411,
        useAStar: false,
    };
</script>
