---
import P5Sketch from "../p5-app/dijkstra.tsx"
---

<div class="flex flex-col items-center justify-center">
    <div id="p5-container" />
    <div class="p-3 flex gap-4">
        <label class="pl-1 px-1 box-border border border-neutral-800 rounded-sm bg-fuchsia-100">
            <input type="checkbox" id="astar-checkbox" />
                A*を使用
        </label>
        <button id="btn-generate" class="px-2 box-border border border-neutral-800 rounded-sm bg-cyan-100">
            迷路生成
        </button>
        <button id="btn-reset" class="px-2 box-border border border-neutral-800 rounded-sm bg-amber-100">
            リセット
        </button>
    </div>
</div>

<P5Sketch client:only="react" containerId="p5-container" />

<script>
    window.P5_CONFIG = {
        // widthとheightを10×マス目+1、マス目は奇数とするときれいに描画される
        width: 411,
        height: 411,
        useAStar: false,
    };
</script>
